/build/
/output/
/code/devops/
/code/ssl/
**/target/**
**/.idea/**
.settings/
.classpath
.project
*.class
*.pyc
*.hprof
**.DS_Store
*.log
*.jar
*.jpg
**.exe
**.zip
code/go/beego/beego
code/go/beego/beego_linux
code/go/beego/beego_mac
code/go/docker/ca-key.pem
code/go/docker/cert.pem
code/go/docker/ca.pem
code/go/docker/dockerclient
code/go/docker/dockerclient_mac
code/go/docker/key.pem
code/go/etcddemo/etcd
code/go/glog/glog
code/go/glog/glog2
code/go/glog/glogTest
code/go/http/webService_linux
code/go/http/webService_mac
code/go/image_website/uploads/WechatIMG22.jpeg
code/go/package1/pkg/darwin_amd64/github.com/gorilla/websocket.a
code/go/package1/src/github.com/gorilla/websocket/
code/go/packages/packages
code/go/packages/packages.iml
code/go/rpc/rpcClient
code/go/rpc/rpcServer
code/hadoop/mapreduce/apat63_99.txt
code/hadoop/mapreduce/cite75_99.txt
code/hadoop/mapreduce/outputs/
code/hadoop/mapreduce/outputs/
code/nginx/o8t5WWxJw3IgroxDxr3TOcorNwvzchEB-aB-xw4MD-k
code/nginx/pj5FWIq60-Qof0B2zbReJ4ehVjw-pixDTG2qIJcnvAc
code/voice/public
code/voice/public.zip
code/java.io/serialize.txt
code/Elasticsearch
